<!-- prettier-ignore -->
<%- include('./partials/header.ejs') %>

<div class="container-xl">
  <div class="row">
    <!-- Content -->
    <div class="col-lg-8">
      <!-- prettier-ignore -->
      <%- include('./partials/post-preview.ejs') %>
      <%- include('./partials/post-preview.ejs') %>
      <%- include('./partials/post-preview.ejs') %>
      <%- include('./partials/post-preview.ejs') %>
      <%- include('./partials/post-preview.ejs') %>

      <!-- prettier-ignore -->
      <%- include('./partials/pagination.ejs') %>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div class="col-lg-4">
      <h3>Sidebar</h3>
    </div>
    <!-- End Sidebar -->
  </div>
</div>

<!-- prettier-ignore -->
<!-- <%- include('./partials/sidebar.ejs') %> -->
<%- include('./partials/footer.ejs') %>
